.read-mail {
    color: var(--fade-clr);
    font-family: google-sans;
    background: #f2f6fc;
}

.mail-actions {
    transition: 0.5s;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.mail-actions.btn-preview{
    font-family: poppins;
    background-color: white;
    border: whitesmoke 1px solid;
    border-radius: 0.5em;
    align-self: center;
 }

 .mail-actions-extended.go-to-mail-btn{
    font-family: poppins;
    height: 3em;
    background-color: rgba(0, 128, 0, 0.413);
    border-radius: 1em;
    align-self: center;
    grid-row: 2;
    grid-column: 1/3;
    margin-right: 1em;
    transition: 0.3s;
 }

 .mail-actions-extended.go-to-mail-btn:hover {
    scale: 1.05;
 }

.mail-actions-right-container {
    /* position: absolute; */
    /* z-index: 11; */

    display: none;
    grid-auto-flow: column;
    right: 10vw;
}

.row-mail:hover .mail-actions-right-container {
    display: grid;
}

.row-mail:hover .mail-date-list{
    display: none;
}

/* .mail-actions.right {
    opacity: 0;
}

.mail-actions.left {
    opacity: 0.5;
}

.row-mail:hover .mail-actions.left {
    opacity: 1;
}

.row-mail:hover .mail-actions.right {
    opacity: 1;
} */

.actions-buttons-extended-container{
    display: grid;
    grid-auto-flow: column;
    right: 2vw;
}

.mail-actions-extended {
    border: none;
    background-color: transparent;
    cursor: pointer;
    grid-row: 1;
    justify-self: end;
    margin-right: 1em;
    /* position: relative; */
    
}