 /* mail list */

 .row-mail {
   cursor: pointer;
   display: grid;
   grid-auto-flow: column;
   padding: 2px 2px;
   height: 40px;
   grid-template-columns: 2em 100px auto 1fr auto;
   column-gap: 0.2em;
   justify-content: start;
   text-align: start;
   align-items: center;
   width: 99%;
   z-index: 111111;
 }

 .row-mail:hover {
   /* scale: 1.1; */
   /* box-shadow: 0px 0px 10px 0px #000000bd */
   box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
   z-index: 111111;
 }

 .row-mail:hover .material-symbols-outlined.greyed{
  color: #444746;
  cursor: pointer;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
 }

 .main-mail-list-folder {
   /* display: grid; */
   grid-auto-flow: column;
   grid-template-columns: minmax(auto, 5vw) minmax(auto, 1080px) 5vw;
   width: 16.25em;
   margin-left: auto;
   margin-right: auto;
   justify-self: center;
   background: rgb(246, 248, 252);
 }

 tbody {
  margin: 0;
  padding: 0;
  width: 99%;
  height: fit-content;
}
 table.mail-list {
   /* width: 100%; */
   background: white;
   display: flex;
   justify-content: space-between;
   text-align: left;
   text-overflow: ellipsis;
   align-content: start;
   border-spacing: 0;
   /* position: relative; */
   /* height: 100%; */
   border-collapse: collapse;
   font-size: 0.9em;
   min-width: 400px;
  overflow: auto;
  
   height: 70vh;
   /* overflow: scroll; */
 }

 .expanded-row.row-mail {
   height: auto;
 }




 .list-subject {
   justify-self: start;
   width: fit-content;
 }

 .list-sender {
   width: fit-content;
   padding-left: 1em;
 }

 .mail-info-row-extended {
  display: grid;
  /* width: 100%; */
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  justify-content: start;
  text-align: start;


  /* position: absolute; */

 }

 .mail-actions.left {
   width: 40px;
   height: 40px;
   align-self: center;
   display: grid;
   align-items: center;
   justify-content: center;

 }

 .mail-actions.left button {
   width: 25px;
 }

 .mail-body-msg {
   /* width: auto; */
   width: 100%;
   /* width: 80vw; */
   font-family: google-sans;
   color: var(--fade-clr);
   overflow: hidden;
   text-wrap: nowrap;
   text-overflow: ellipsis;
 }



 .mail-list-container {

   /* position: relative; */
   /* overflow-y: auto; */
   /* display: grid; */
   table-layout: fixed;
   background: white;
  padding: 5px 5px;
  border-radius: 1em;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f6f8fc;

   
   /* background-color: fff; */
 }

 ::-webkit-scrollbar-thumb {
  position: fixed;
  background-color: rgb(221, 221, 221);
  /* border-radius: 6px;  */
}

::-webkit-scrollbar {
  width: 6px; /* Set width of the scrollbar */
}


 .mail-folder-list-items {
   position: relative;
   top: 4vh;
   display: grid;
   row-gap: 0.5vh;
   transition: 0.5s;
   align-content: top;
   font-family: google-sans;
   /* background-color: rgb(231 238 251); */
 }

 .mail-folder-list-items li.focused {
   background: rgb(211, 227, 253);
   font-family: google-sans-bold;
 }

 .mail-folder-list-items :hover {
   background-color: rgb(227, 227, 227);
 }

 .mail-folder-list-items li {
   border-top-right-radius: 1em;
   border-bottom-right-radius: 1em;
   height: 32px;
   cursor: pointer;
   width: 100%;
   display: grid;
   grid-auto-flow: column;
   justify-content: left;
   column-gap: 1em;
   align-content: center;
 }


 .mail-folder-list-items li.inbox {
   align-items: center;
   grid-template-columns: auto auto 1fr;
 }

 .unread-count {
   margin-right: 1em;
   justify-self: end;
 }

 .mail-actions svg {
   /* opacity: 1; */
   width: 40px;
   height: 40px;
 }

 .total-mails {
   text-wrap: nowrap;
 }

