 /* home */

 
.hero {
    text-align: center;
    padding: 50px 20px;
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
}

.hero-title{
    text-align: left;
}

.hero h2{
    font-size: 3.75em;
}

.hero p{
    font-size: 1.625em;
    font-family: google-sans;
}

.hero button {
    height: 60px;
    width: 240px;
    background-color: #2558D3;
    color: white;
    border: none;
    font-size: 1.625em;
    margin-top: 3.75em;
    cursor: pointer;
    transition: .2s;
    border-radius: .2em;
}
.hero button:hover {

    background-color: #4276f0;
   
    cursor: pointer;
}

.features {
    text-align: center;
    padding: 50px 20px;
}

.feature {
    margin-bottom: 30px;
}

.icon-check {
    display: inline-block;
    width: 40px; 
    height: 40px;
    background-color: #ddd; 
    margin-bottom: 10px;
    border-radius: 50%;
}

.rect {
    animation: pulse 2s infinite ease-in-out;
    position: absolute;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        transform: scaleX(1.05)scaleY(1.05);
        opacity: 0.8;
    }
}

.pulse1 {
    animation: pulse 3s infinite ease-in-out;
}

.pulse2 {
    animation: pulse 2.5s infinite ease-in-out;
}

.pulse3 {
    animation: pulse 3s infinite ease-in-out;
}
.pulse4 {
    animation: pulse 2.2s infinite ease-in-out;
}
.pulse5 {
    animation: pulse 2.8s infinite ease-in-out;
}
