@font-face {
    font-family: poppins;
    src: url(../../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(../../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-black;
    src: url(../../fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: poppins-semi-bold;
    src: url(../../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(../../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: google-sans;
    src: url(../../fonts/Google-Sans/GoogleSans-Regular.ttf);
}
@font-face {
    font-family: google-sans-medium;
    src: url(../../fonts/Google-Sans/GoogleSans-Medium.ttf);
}
@font-face {
    font-family: google-sans-bold;
    src: url(../../fonts/Google-Sans/GoogleSans-Bold.ttf);
}