@font-face {
    font-family: poppins;
    src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(/assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-black;
    src: url(/assets/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: poppins-semi-bold;
    src: url(/assets/fonts/Poppins/Poppins-SemiBold.ttf);
}