
.google-keep-input {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    color: #202124;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}


.main-input-container {
    display: grid;
    row-gap: 10px;
    background-color: red;
}
.note-input-container {
    display: flex;
    background-color: red;
}

.google-keep-input:focus {
    /* border-color: #d93025;  */
    /* box-shadow: 0 0 0 2px rgba(217, 48, 37, 0.3);  */
    outline: none;
}
.google-keep-input::placeholder {
    color: #909090;
}

.google-keep-input.textarea {
    resize: none;
}

.input-with-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

.google-keep-input {
    width: 100%;
    padding-right: 200px;
}

.input-with-icon.material-symbols-outlined {
    position: absolute;
    right: 10px;
    color: #757575;
}