header {
    font-family: google-sans-bold;
    /* color: var(--main-clr); */

    /* background: var(--main-bgc); */
}

nav a {
    font-family: google-sans-medium;
    margin: .5em;

}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10vw;
}

nav {
    display: flex;
    align-items: center;
}

nav a.active {
    color: var(--main-bgc);
    font-weight: bold;
}

.logo-container{
    cursor: pointer;
}

.keep-logo {
    height: 40px;
    width: 40px;
}
.logo-txt {
    cursor: pointer;
    color: var(--logoTxt-clr);
    margin-left: .3em;
    font-size: 1.375em;
    font-family: google-sans-medium;
}
.mail-logo-txt {
    cursor: pointer;
    color: var(--logoTxt-clr);
    margin-left: .5em;
    font-size: 1.375em;
    font-family: google-sans-medium;
}
.mail-logo {
    height: 30px;
}

.main-logo{
    height: 60px;
}

.burger-toggle{
    position: fixed;
    top: 2em;
    right: 2em;
    width: 50px;
    color: black;
    opacity: 1;
    cursor: pointer;
}

.app-header .burger-toggle.hide{
    opacity: 0;
}

nav.show {
    transform: translateX(0%);
}

nav.hide {
    transform: translateX(-200%);

}

