.book-index {
    display: grid;
}

.book-index a {
    justify-self: center;
}

.books-index-actions {
    display: flex;
    justify-content: space-around;
}

.books-index-actions button {
    text-transform: uppercase;
    color: var(--gray3);
    font-size: 0.8em;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5em;
    margin-top: 4vh;
    width: 10vw;
    height: 5em;
    transition: 0.5s;
    appearance: none;
    text-decoration: none;
    background-color: transparent;
    border: none;

}

.books-index-actions button:hover {
    /* scale: 1.1; */
}

.book-index a button img {
    max-width: 2em;
}

.books-index-actions .addbook-fromgoogle-btn {
    background-color: #4385f4;
    color: whitesmoke;
}

.books-index-actions .addbook-btn {
    background-color: #85c798;
    color: whitesmoke;
}